@import '~bootstrap/scss/bootstrap';

#change-pw-display, #navigation, #add-plant-display, #update-plant-display, #sign-up-display, #sign-in-btn, #main-content, #show-plant-display {
    display: none;
}

body {
    background-color: #8db38b;
}

#home-page {
    padding: 5% 0;
}

#home-page, #main-content {
    height: 100vh;
    margin: 0 23%;
    background-color: whitesmoke;
    text-align: center;
}

#home-page h3 {
    margin: 10px 0;
    letter-spacing: 8px;
    text-transform: uppercase;
}

#home-page form input {
    width: 35%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid gray;
    letter-spacing: 2px;
}

#home-page button {
    width: 35%;
    margin: 5px 0;
    padding: 10px 30px;
    background-color: #f8667a;
    border: none;
}

#main-content{
    margin-top: 0;
}

#plant-btns button {
    width: 35%;
    margin: 10px 0;
    padding: 30px;
    background-color: #b185db;
    border: none;
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#add-plant-display h3, #show-plants-display h3, #show-plant-display h3, #update-plant-display h3 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

#add-plant-form button, #update-plant-form button {
    font-size: 20px;
    margin: 10px 0;
    width: 40%;
    padding: 20px;
    border: none;
    background-color: rgba(92, 209, 133, 0.864);
    letter-spacing: 6px;
    text-transform: uppercase;
    color: white;
}

.form-input-box {
    text-align: center;
    width: 40%;
    letter-spacing: 2px;
    padding: 10px;
}

.plant-label {
    font-size: 16px;
    margin-top: 10px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#show-plants-display button {
    margin: 10px 0;
    width: 50%;
    padding: 30px;
    border: none;
    background-color: #f8667a;
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 20px;
}

#show-plant-display {
    margin: 5% 0;
    letter-spacing: 2px;
    font-size: 16px;
}

#show-plant-display button {
    width: 20%;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
    border: none;
    background-color: #8db38b;
    color: white;
}

#navigation {
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1px;
    margin-bottom: 5%;
}

#navigation button{
    border: none;
    flex-grow: 1;
    padding: 10px;
    background-color: #b185db;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
}